*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  max-width: 144rem; }

body {
  min-height: 100vh;
  font-family: "Rochester";
  background-image: linear-gradient(to right bottom, rgba(253, 94, 83, 0.6), #f9fcfb);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.date {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.time {
  font-size: 9.6rem;
  color: #f9fcfb; }

#day {
  font-size: 9.6rem;
  color: #b0eacd; }

.container {
  margin: auto;
  max-width: 106.4rem;
  height: 56.9rem;
  background-image: url("../img/evening.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2rem 13px 9px rgba(33, 191, 115, 0.6); }

.welcome {
  color: #b0eacd;
  font-size: 7.2rem; }

.focus {
  color: #b0eacd;
  font-size: 3.6rem; }
